Helper.md 
data.js
client/node_modules/
!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
.vscode
/docs/.vitepress/cache
client/packages/vite/LICENSE
dist
dist-ssr
explorations
playground-temp
temp
.eslintcache
client/*.env
client/.env*

api/node_modules/
api/.env*
api/*.env
api/public/
